.project-details-container {
    display: flex;
    flex-direction: column;
}

.video-container {
    z-index: 1;
    opacity: 0.5;
}

.project-title {
    z-index: 2;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 10vh;
    display: flex;
    align-items: center;
    justify-content: left;
    width: 85%;
    right: 0;
    height: 80%;
    letter-spacing: 0.4vh;
    word-spacing: 2vh;
}

.project-subtitle {
    border-top: 3px solid #F9BF26;
    font-size: 3.5vh;
    letter-spacing: 0.4vh;
    word-spacing: 0.5vh;
    padding: 1%;
}

@media (max-width: 1024px){
    .background-video {
        width: 100%;
    }

    .project-title {
        width:90%;
        height: 40%;
        font-size: 1.8em;
        justify-content: left;
    }
}

.downArrow {
    position: fixed;
    bottom: 1%;
    left: 55%;
    animation: 1.5s bounce infinite;
}

@keyframes bounce {
    0% {transform: translateY(0px)}
    50% {transform: translateY(-5px)}
    100% {transform: translateY(0px)}
}
