* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background: #eee;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

.mainDiv {
  margin-top: 400px;
}

.ar {
  font-family: Tahoma, sans-serif !important;
  font-weight: normal;
  font-size: 80% !important;
}

/*======================================================
                          Navbar
  ======================================================*/
#navbar {
  background: #2d2d32;
  color: white;
  position: fixed;
  top: 0;
  height: 80px;
  line-height: 60px;
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 100%;
}
@media (max-width: 768px) {
  .nav-wrapper {
    /* width: 90%; */
  }
}
@media (max-width: 638px) {
  .nav-wrapper {
    width: 100%;
  }
}
/*   LOGO   */
.logo {
  float: left;
  margin-left: 45px;
  margin-top: 10px;
  font-size: 2em;
  height: 46px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .logo {
    /*       margin-left: 5px; */
  }
}
/*   NAVBAR LIST   */
#navbar ul {
  margin-top: 10px;
  float: left;
  color: white;
  list-style: none;
  margin-left: 4%;
  margin-top: 0.7%;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

@media (max-width: 768px) {
  #navbar ul {
    display: none;
  }
}

@media (max-width: 768px) {
  #navbar ul {
    margin-top: 1.5%;
  }
}
@media (orientation: landscape) and (min-width: 1024px) {
  #navbar ul {
    display: inline-block;
  }
}
/*   NAVBAR ITEMS   */
#navbar li {
  display: inline-block;
}

#navbar li span {
  color: white;
  display: block;
  font-size: 0.6em;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 1.5em;
  /* margin-top: 20%; */
  /* padding: 0 7px; */
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
}

#navbar li span:hover {
  /* border-bottom: 1px solid rgb(28, 121, 184); */
  color: rgb(138, 138, 138);
  transition: all 0.1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li span:before,
#navbar li span:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1.5px;
  bottom: -2px;
  background: rgb(45, 45, 50); /*initial color*/
}

/* --------------- ANIMATION -----------------*/
#navbar li span:before {
  left: 0;
  transition: 0.3s;
}

#navbar li span:after {
  background: rgb(45, 45, 50);
  right: 0;
  /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
}

#navbar li span:hover:before {
  background: rgb(1, 255, 22); /*ending color*/
  width: 100%;
  transition: width 0.1s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li span:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 1s; */
}

/*======================================================
                    Mobile Menu Menu Icon
  ======================================================*/
@media (max-width: 1024px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  /* Icon Bars */
  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    /*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    /*     -webkit-transition: top 0.2s ease 0.3s;
    transition: top 0.2s ease 0.3s; */
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }
  @keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }
  @keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }
  @keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }

  /* Toggle Menu Icon */
  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

/*======================================================
                   Responsive Mobile Menu 
  ======================================================*/
#overlay-menu {
  background: lightblue;
  color: rgb(13, 26, 38);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 15px;
  transform: translateX(-100%);
  width: 100vw;
  height: 100vh;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li a {
  display: block;
  font-size: 1.8em;
  letter-spacing: 4px;
  /*   opacity: 0; */
  padding: 10px 0;
  text-align: right;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  /*   -webkit-transition: 0.2s opacity 0.2s ease-out;
  transition: 0.2s opacity 0.2s ease-out; */
}

.overlay-menu li a:hover,
.overlay-menu li a:active {
  color: rgb(28, 121, 184);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
